<%- include ('./partials/header.ejs') -%>

<div class="container">
  <h3 class="todo-list">Your To-do List:</h3>

  <table class="table table-borderless table-hover">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Duration</th>
        <th scope="col">View task</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(task => { %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= Math.round(task.duration) %> minutes</td>
        <td>
          <a href="/todos/<%= task.slug %>"><i class="fas fa-stopwatch"></i></a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (tasks.length === 0) { %>
  <h2 class="add-task-msg">Start by adding tasks to your to-do list</h2>
  <% } %>

  <form type="GET" action="/todos/new">
    <button
      type="submit"
      id="new-task"
      class="btn btn-outline-primary justify-content-center"
    >
      Add New Task
    </button>
  </form>
</div>

<%- include ('./partials/footer.ejs') -%>
